<html>
<style>
    .mypic {
        width: 20%;
        display: block;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 4px solid black;
    }
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  text-align:center;

}
.email{
   font-family:'Bauhaus 93';
   color:blue;
}


</style>

<body>
    <div class="about-section">
        <img class="mypic" src="~/css/IMG_20221012_003229_836.jpg" />
        <p><center>>Founder of Ice_Shapers: Prem Parikh</center></p>

        <h1>About Us</h1>
        <p>Ice_Shapers : __A BIG BUSINESS STARTS SMALL__</p>
        <p>Keep <strong>Going</strong>Keep<strong>Growing</strong></p>
    </div>


    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
              
                <div class="container">
                    <p class="title">CEO & Founder</p>
                    <h2>PREM PARIKH</h2>
                    
                    <p>My name is Prem Parikh. I am the founder of ice_shapers which is established on 2011.
                    Currently, We have 4 branches in canada such as Toronto, Vancouver, Calgary, Ottowa. 
                    We engaged with more than 350 employees all over the canada. ice_Shapers partnership with the 
                    different big name such as Wallmart, 7/11, Costco with 5% share equally divided.</p>
                    <p class="email">premparikh01@gmail.com</p>
                
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
               
                <div class="container">
                    <p class="title">Marketing Manager</p>
                    <h2>Miky Aurthor</h2>

                    <p>
                        My name is Miky Aurthor. I am marketing manager of Ice_Shapers. I have joined this organization
                        on 2013. I have Completed my MBA in 2006 from University of Toronto. We have planning to marketing our product
                        all over the world as soon as possible. Especially
                        for Asian Countries Like, India,China,UAE,Pakistan.
                    </p>
                    <p class="email">mikaur@gmail.com</p>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
             
                <div class="container">
                    <p class="title">Research developer</p>
                    <h2>David Warner</h2>
                    
                    <p>My name is David warner. I am a research developer in Ice_Shapers. I have joined this organization on 2012.
                    I have completed my research and scientist engineering on 2007 from University of BC. From my research Our goal
                    is to established our products in 300+ shapes within next 2 years. That's Never Happen in Ice trays industry.</p>
                    <p class="email">davidW@gmail.com</p>
                    
                </div>
            </div>
        </div>
    </div>

</body>
</html>