@{
    ViewData["Title"] = "Home Page";
}
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        transition: width 3s, height 3s;
    }

        img:hover {
            width: 400px;
            height: 400px;
        }
    #free {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10px;
        width: 250px;
        margin: auto;
        border: 4px solid green;
        overflow-x: hidden;
    }

    

</style>
<div class="text-center">
    <h1 class="display-4">Welcome to the ICE_Shapers</h1>





</div>
<img class="image1" src="~/css/il_794xN.4222857856_t18s.webp" />
<h2><center>Here you can buy all kinds of Ice_Shapers.</center></h2>
<h3>
    <center>The Best Ice-Cube Trays on Ice_Shapers</center> 
</h3>
   Hello, Ice_Shapers are established in 2011. We are produce different shapes of trays with fabolous colors. Prem Parikh the founder and CEO
    of Ice_Shapers who started this company with only 1000$. Now it's revenu upto 100M$. It's very inspiring story that how it's going down to 
    up. Ice_Shapers have 300+ employess with 4 differnet city in canada.
</p>
<div id="free">
    <p>
        <strong>Free</strong> delivery on your first order With <strong>50%</strong>off.
    </p>
</div>



<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
